<div class="body">


    <div><h1>Vehicle</h1></div>
<div class="container">
    <!-- <div class="space">
        <button ejs-button Class="add-btn"><span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>Add New</button>
    </div> -->
    <div class="wrap">
        <div class="e-input-group e-corner">
            
            <span>
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
           <input class="e-input" name="" placeholder="Search ..." id="">
           
        </div>
    </div>
</div>
<ejs-grid [dataSource]='data'>
    <e-columns class="col" >
        <e-column field='NO' headerText='NO' textAlign='Right' width=90></e-column>
        <e-column field='plate_no' headerText='Plate_number' width=120></e-column>
        <e-column field='motor_no' headerText='Motor_number' textAlign='Right' format='C2' width=90></e-column>
        <e-column field='purchased_date' headerText='Purchased_Date' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='fullname' headerText='Owner_Name' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='accident_vehicle_id' headerText='Accident_id' textAlign='Right' format='yMd' width=120></e-column>
        <!-- <e-column field='Date' headerText='Date' textAlign='Right' format='yMd' width=120></e-column>    -->
        <!-- <e-column field='Penality Level' headerText='Penality Level' textAlign='Right' format='yMd' width=120></e-column> -->
      <!--  <e-column field='Owner_Phone' headerText='Owner_Phone' textAlign='Right' format='yMd' width=120></e-column> -->
         <e-column field='Action' headerText='Action' textAlign='Right' format='yMd' width=120>
            <ng-template #template let-data>
                <div class="div">
                  <i id="update" class="fa-sharp fa-solid fa-pen"></i>
                  <i id="delete" class="fa-sharp fa-solid fa-trash"></i>
                </div>
              </ng-template>
         </e-column> 
    </e-columns>
</ejs-grid>
</div>
