<div class="body">


    <div><h1>Traffic Officer</h1></div>
<div class="container">
    <!-- <div class="space">
        <button ejs-button Class="add-btn"><span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>Add New</button>
    </div> -->
    <div class="wrap">
        <div class="e-input-group e-corner">
            
            <span>
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
           <input class="e-input" [(ngModel)]="query" (keyup)="searchevent()" name="" placeholder="Search ..." id="">
           
        </div>
    </div>
</div>
<ejs-grid [dataSource]='data'>
    <e-columns class="col" >
        <e-column field='officer_id' headerText='officer_id' textAlign='Right' width=90></e-column>
        <e-column field='fullname' headerText='fullname' width=120></e-column>
        <e-column field='phone_no' headerText='phone_no' textAlign='Right'  width=90></e-column>
        <e-column field='password' headerText='password' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='username' headerText='username' textAlign='Right' format='yMd' width=120></e-column>   
        <!-- <e-column field='Penality Level' headerText='Penality Level' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='Amount' headerText='Amount' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='Action' headerText='Action' textAlign='Right' format='yMd' width=120></e-column> -->
        <e-column field='Action' headerText='Action' textAlign='Right' format='yMd' width=120>
            <ng-template #template let-data>
                <div class="div">
                  <i id="update" class="fa-sharp fa-solid fa-pen"></i>
                  <i (click)="deletofficer(this.data.officer_id, this.data)"  id="delete" class="fa-sharp fa-solid fa-trash"></i>
                </div>
              </ng-template>
        </e-column>
    </e-columns>
</ejs-grid>
</div>

<!-- officer_id: number,
fullname :string,
phone_no : number,
password : string,
username : string -->