<div class="body">


    <div><h1>Accident</h1></div>
<div class="container">
    <div class="space">
        <button routerLink="/accidentform" ejs-button Class="add-btn"><span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>Add New</button>
    </div>
    <div class="wrap">
        <div class="e-input-group e-corner">
            
            <span>
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
           <input class="e-input" [(ngModel)]="query" (keyup)="searchevent()" name="" placeholder="Search ..." id="">
           
        </div>
    </div>
</div>
<ejs-grid [dataSource]='data'>
    <e-columns class="col" >
        <e-column field='NO' headerText='NO' textAlign='Right' width=90></e-column>
        <e-column field='AccidentType' headerText='Accident_Type' width=120></e-column>
        <e-column field='date' headerText='Date' textAlign='Right' format='ymd' width=90></e-column>
        <e-column field='OfficerFullName' headerText='reporter' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='region' headerText='Region' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='zone' headerText='Zone' textAlign='Right' format='yMd' width=120></e-column>       
        <e-column field='wereda' headerText='Wereda' textAlign='Right' format='yMd' width=120></e-column>        
        <e-column field='kebele' headerText='Kebele' textAlign='Right' format='yMd' width=120></e-column>   
        <e-column field='specific_location' headerText='Specific_Location' textAlign='Right' format='yMd' width=120></e-column> 
        <e-column field='VehiclePlateNo' headerText='Vehicle' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='DriverFullName' headerText='Driver' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='LifeLost' headerText='Life_Lost' textAlign='Right'  width=120></e-column>
        <e-column field='MajorInjury' headerText='Major_Injury' textAlign='Right'  width=120></e-column>
        <e-column field='MinorInjury' headerText='Minor_Injury' textAlign='Right'  width=120></e-column>
        <e-column field='PropertyLoss' headerText='Property_Loss' textAlign='Right'  width=120></e-column>
        <e-column field='PropertyLossInMoney' headerText='Property_Loss_in_Mony' textAlign='Right'  width=120></e-column>
        <e-column field='Description' headerText='Description' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='Action' headerText='Action' textAlign='Right' format='yMd' width=120>
            <ng-template #template let-data>
                <div class="div">
                  <i id="update" class="fa-sharp fa-solid fa-pen"></i>
                  <i id="delete" class="fa-sharp fa-solid fa-trash"></i>
                </div>
              </ng-template>
        </e-column>


    </e-columns>
</ejs-grid>
</div>

                 <!-- AccidentId = accident.accident_id,
                 AccidentType = accident.accident_type,
                 PropertyLossInMoney = accident.property_loss_in_money,
                 PropertyLoss = accident.property_loss,
                 MajorInjury = accident.major_injury,
                 MinorInjury = accident.minor_injury,
                 LifeLost = accident.life_lost,
                 Description = accident.description,
                 Address = address,
                 VehiclePlateNo = vehicle.plate_no,
                 DriverFullName = driver.fullName,
                 OfficerFullName = officer.fullname -->
