#default-sidebar{
    padding: 2rem;
}
.e-appbar{
    margin: 0;
    padding: 0;
    background-color: #023435;
    color: white;
    font-size: large;
}
.icon{
}
h2{
    text-align: center;
    margin-bottom: 2rem;
}
.custom-icon-color {
    color: #090d0d82;
    /* margin-right: 0.5rem; */
}

#default-sidebar[_ngcontent-joa-c18] {
    padding: 0;
}
.tree-view{
    /* padding: 0.5rem; */
}
.username{
    color: white;
    font-size: larger;
    margin-right: 0.5rem;
}
.e-treeview .e-list-item.e-active > .e-fullrow {
    background-color: #13676A82;
    border-color: #68babd2b;
}

.e-listview .e-list-item {
    margin: 1rem;
    color: rgb(110, 110, 110);
    font-size: medium;
}
.e-listview .e-list-header{
    color: #000;
    font-size: medium;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    margin: 1rem;
}
.e-listview .e-list-item.e-hover {
    color:rgb(170, 238, 212);
    background-color: rgb(64, 104, 94);
}