<div [ngClass]="{'login' : !this.logindata.islogin}">
    <ejs-sidebar id="sidebar-treeview" class="dock-menu" #sidebarTreeviewInstance [width]="width" (created)="onCreated($event)" style="visibility: hidden"
    [mediaQuery]="mediaQuery" (close)="onClose($event)">
            <div id="sample"> 
                <ejs-listview id="List" [dataSource]="data" headerTitle="Traffic Accident Management System" showHeader="true">
                    <ng-template #template let-data>
                        <p [routerLink]="data.routerLink"><i [class]="data.iconCss"></i>   {{ data.name }}</p>
                    </ng-template>
                </ejs-listview>
            </div>
    </ejs-sidebar>

    <div [ngClass]="{'login' : !this.logindata.islogin}">
        <ejs-appbar>
            <button #defaultButtonMenu ejs-button cssClass="e-inherit"  (click)="openClick()">
                <span class="e-icons e-large e-menu"></span>
            </button>
            <div class="e-appbar-spacer"></div>
            <button ejs-button cssClass="e-inherit">
                <span class="fa fa-user fa-lg username"></span>
                {{logindata.username}}
            </button>        
        </ejs-appbar>
        <router-outlet></router-outlet>
    </div>
</div>

<div [ngClass]="{'login container': this.logindata.islogin}">
    <app-login></app-login>
</div>

