<div class="body">


    <div><h1>Penality</h1></div>
<div class="container">
    <div class="space">
        <button routerLink="/penalityform"on Class="add-btn"><span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>Add New</button>
    </div>
    <div class="wrap">
        <div class="e-input-group e-corner">
            
            <span>
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
           <input class="e-input" [(ngModel)]="query" (keyup)="searchevent()" name="" placeholder="Search ..." id="">
           
        </div>
    </div>
</div>
<ejs-grid [dataSource]='data'>
    <e-columns class="col" >
        <e-column field='penalty_id' headerText='penalty_id' textAlign='Right' width=90></e-column>
        <e-column field='driver_license' headerText='Driver License' width=120></e-column>
        <e-column field='driver_name' headerText='driver_name' textAlign='Right' format='C2' width=90></e-column>
        <e-column field='violation_type' headerText='violation_type' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='date' headerText='date' textAlign='Right' format='yMd' width=120></e-column>   
        <e-column field='penalty_leve' headerText='penalty_leve' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='amount' headerText='amount' textAlign='Right' format='yMd' width=120></e-column>
        <!-- <e-column field='Status' headerText='Status' textAlign='Right' format='yMd' width=120></e-column> -->
        <e-column field='Action' headerText='Action' textAlign='Right' format='yMd' width=120>
            <ng-template #template let-data>
        <div class="div">
          <i id="update" class="fa-sharp fa-solid fa-pen"></i>
          <i id="delete" class="fa-sharp fa-solid fa-trash"></i>
        </div>
      </ng-template>
        </e-column>
    </e-columns>
</ejs-grid>
</div>

<!-- penalty_id: number,
driver_license :number,
driver_name:String,
violation_type : String,
date : Date,
penalty_leve : string
amount : String,
penalty_driver_id :number, -->
