<div class="container">
    <button ejs-button cssClass="e-primary">Add New</button>
    <div class="space"></div>
    <div class="wrap">
        <div class="e-input-group">
           <input class="e-input" name="" id="">
           <span class="e-input-group-icon e-input-popup-date"></span>
        </div>
    </div>
</div>
<ejs-grid [dataSource]='data'>
    <e-columns>
        <e-column field='penalty_id' headerText='NO' textAlign='Right' width=90></e-column>
        <e-column field='license_no' headerText='Driver License' width=120></e-column>
        <e-column field='fullname' headerText='Driver Name' textAlign='Right' format='C2' width=90></e-column>
        <e-column field='violation_type' headerText='Violation Type' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='Date' headerText='Date' textAlign='Right' format='yMd' width=120></e-column>   
        <e-column field='penalty_leve' headerText='Penality Level' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='Amount' headerText='Amount' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='Action' headerText='Action' textAlign='Right' format='yMd' width=120>

            <ng-template #template let-data>
                <div class="div">
                  <i id="update" class="fa-sharp fa-solid fa-pen" ></i>
                  <i id="delete" class="fa-sharp fa-solid fa-trash" (click)="deletepenalty(data.accident_id)"></i>
                </div>
              </ng-template>
        </e-column>
    </e-columns>
</ejs-grid>
